.todoAddContainer {
  background-color: rgb(82, 80, 80);
  text-align: center;
  padding: 30px 40px;

  div {
    display: flex;
    box-sizing: border-box;

    input {
      margin: 0;
      border: none;
      border-radius: 35px;
      width: 75%;
      padding: 15px;
      font-size: 16px;

      &:focus {
        border: 1px solid #500303;
      }
    }

    button {
      padding: 0px;
      margin-top: 5px;
      margin-left: 10px;
      width: 15%;
      height: 50px;
      border-radius: 35px;
      text-align: center;
      font-size: 16px;
      font-weight: bolder;
      cursor: pointer;
      transition: 0.3s;
      outline: none;
      border: none;

      &:hover {
        background-color: white;
        color: #500303;
      }
    }
  }
}
